/* .posts {
  width: 100%;
  display:grid;
  grid-template-rows: 33.3% auto 33.3%;
  
  
 
}

@media (max-width: 880px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
} */
